################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Tejasya/.vs/Tejasya/v16
/Tejasya/Tejasya/obj

