
@{
    Layout = null;
}

<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link href="~/css/site.css" rel="stylesheet" />
        <title>Index</title>
        <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    </head>
    <body class="container">
        <h1>Welcome to the Tejasya</h1>
        <h1>@DateTime.Now</h1>
        <p>hahaha ok </p>


        <input type="button" value="Click me" class="btn btn-danger"/>

        <h2>my email is songgum@gmail.com</h2>

        <script src="~/lib/jquery/jquery.js"></script>


    <img src="~/images/apple.png" />
   

    </body>
    </html>

<script>
    $(document).ready(function () {
        alert("Page loaded");
    });
</script>
